<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.widget.weatherforecasts"
    android:versionCode="7"
    android:versionName="1.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".WidgetToday"
            android:label="@string/widget_today_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today" />
        </receiver>

        <service
            android:name=".WidgetToday$WidgetService"
            android:exported="false" />

        <activity
            android:name=".WidgetTodayConfig"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".WidgetToday2"
            android:label="@string/widget_today2_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today2" />
        </receiver>

        <service
            android:name=".WidgetToday2$WidgetService"
            android:exported="false" />

        <activity
            android:name=".WidgetToday2Config"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".Widget2days"
            android:label="@string/widget_2days_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2days" />
        </receiver>

        <service
            android:name=".Widget2days$WidgetService"
            android:exported="false" />

        <activity
            android:name=".Widget2daysConfig"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".WidgetWeekly"
            android:label="@string/widget_weekly_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weekly" />
        </receiver>

        <service
            android:name=".WidgetWeekly$WidgetService"
            android:exported="false" />

        <activity
            android:name=".WidgetWeeklyConfig"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".ics.WidgetWeekly"
            android:label="@string/ics_widget_weekly_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ics_widget_weekly" />
        </receiver>

        <service
            android:name=".ics.WidgetWeekly$WidgetService"
            android:exported="false" />
        <service
            android:name=".ics.WidgetWeeklyService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".ics.WidgetWeeklyConfig"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>